.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin: 40px auto;
}
.container header {
  padding: 30px 100px;
  background: rgba(6, 145, 163, 0.45);
}
.container header {
  font-size: 30px;
  width: 100%;
  font-weight: 300;
  text-align: center;
}
.container header h5 {
  color: aliceblue;
  margin: 20px 0;
}
.container header button {
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  background: blueviolet;
  color: #ffffff;
}
.container input {
  width: 70%;
  font-size: 17px;
  padding: 10px;
}

/* MAIN */
main {
  width: 100%;
}
main ul {
  list-style: none;
  padding: 0;
  margin: 40px auto;
  min-width: 90%;
}
main ul li {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightblue;
  padding: 10px;
  margin: 10px 0;
}

main ul li button {
  border: none;
  padding: 8px 20px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}
